h1{
  padding: inherit;
  color: 10000;
  font-family: cursive;
  font-size: 50px;
}

#question{
  color: blue;
}

#answer{
  color: red;
}

/* #questionOne{
color: darkgrey;
}

#questionTwo{
  color: lightgrey
} */
